{% extends 'base.html.twig' %}


{% block body %}

{{ form_start(hatForm) }}
{{ form_label(hatForm.name) }}
    {{ form_widget(hatForm.name) }}
    {{ form_label(hatForm.price) }}
{{ form_widget(hatForm.price) }}
    <button type="submit">send</button>
{{ form_end(hatForm) }}

{% endblock %}